.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100vw;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    text-transform: uppercase;
    font-family: Futura;
    font-weight: bold;
    font-size: 48px;
    margin: 0;
  }

  p {
    margin-bottom: 35px;
    font-size: 16px;
    font-weight: 400;
  }

  button {
    background: black;
    height: 40px;
    width: 175px;
    border-radius: 25px;
    font-size: 16px;
    color: white;
    border: none;

    &:hover {
      background: rgb(0, 0, 0, 0.8);
    }
  }
}
