.container {
  height: 100%;
  width: 100%;
}

.header {
  height: 40px;
  width: 100%;
  border-bottom: 1px solid lightgrey;
  line-height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 12px;
  color: #757575;

  img {
    margin-left: 15px;
  }

  a {
    text-decoration: none;
    color: #757575;
  }

  a,
  .info {
    display: flex;
    align-items: center;
  }

  .location {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
  }
}

.user {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 20px;
}

.profilePic {
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin: 0 10px;
}

.navbar {
  height: 57px;
  width: 100%;
  border-bottom: 1px solid lightgrey;
  line-height: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  position: relative;

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
  }

  ul li {
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: 2px solid transparent;
    line-height: 56px;

    &:hover,
    .active {
      border-bottom: 2px solid black;
      cursor: pointer;
    }
    a {
      text-decoration: none;
      color: black;
      padding-bottom: 18px;
    }
  }
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  margin: 0 20px;
}

.gridIcon {
  position: absolute;
  right: 20px;
}
