.container {
  height: 100%;
  width: 100%;
}

.wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 100%;
  width: 100%;

  @media (max-width: 1200px) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.gallery {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  padding: 25px;
  grid-gap: 15px;
  gap: 15px;

  img {
    max-width: 100%;
    object-fit: contain;
  }

  div {
    background: rgb(0, 0, 0, 0.1);
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    justify-items: center;
  }
}

.info {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  button {
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    font-size: 16px;
    border: none;
    height: 60px;
    padding: 25px;
    
    &:hover {
      background: rgb(0, 0, 0, 0.8);
    }
  }

  @media (max-width: 1200px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
}

.prodInfo {
  position: sticky;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 40px;
  top: 0;

  @media (max-width: 1200px) {
    margin: 0;
    padding-top: 0;
    padding-bottom: 25px;
  }
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.model,
.price,
.description {
  font-size: 16px;
}

.name {
  font-size: 32px;
  line-height: 32px;
  padding: 0;
  margin: 0;
}

.description {
  line-height: 1.75;
  padding: 20px;
}

.wideGallery {
  width: 100%;

  img {
    margin-bottom: 20px;
    width: 100vw;
    object-fit: contain;
  }
}
